<div class="markdown-body" id="discusspane">
	<div></div>
	<a href="{{discussurl}}" class="discussbtn">Discuss</a>
	<a href="../blogmd/1.html" class="discussbtn">Contact</a>
	<div id="copyright">&copy;2015-2016 by DKZ</div>
</div>
</div>
	</div>
<div id="footer">
	<div id="footerPane">
		<img id="cubehead" src="../res/img/cubehead.png">
		<div id="footerL">
			<a href="../home.html">Home</a><a href="../wo.io">WO.IO</a>
		</div>
		<div id="footerR">
			<a id="search">Search</a><a href="../blog.html">Contents</a><a href="#top">Top</a>
		</div>

	</div>
</div>
</body>
</html>