<div class="markdown-body" id="discusspane">
    <a href="{{discussurl}}" class="btn">Discuss</a>
    <a href="../blog.html?year=2017" class="btn">2017</a>
    <a href="../blog.html?year=2016" class="btn">2016</a>
    <a href="../blog.html?year=2015" class="btn">2015</a>
    <a href="../blogmd/1.html" class="btn">Contact</a>
    <!-- <a href="../rss.xml" class="btn" style="color:#ff9632;border:#ff9632 1px solid;">RSS</a> -->
    <div id="copyright">&copy;2015-2017 by DKZ</div>
</div>
</div>
</div>
</body>

</html>
