<!DOCTYPE html>
<html>

<head>
    <title>DKZ's Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.8, minimum-scale=0.8, maximum-scale=0.8, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="../res/md.css">
    <link rel="stylesheet" type="text/css" href="../res/blogstyle.css">
    <script type="text/javascript" src="../res/dkzlogo.js"></script>
</head>

<body>
    <div id="footer">
        <div id="footerPane">
            <a href="../blogmd/1.html"><img id="cubehead" src="../res/img/cubehead.png"></a>
            <div id="footerL">
                <!-- <a class="btn" href="../home.html">Home</a> -->
                <a class="btn" href="//davidkingzyb.tech">Home</a><a id="rssbtn" href="../rss.xml" class="btn">RSS</a>
            </div>
            <div id="footerR">
                <a class="btn" href="{{discussurl}}" id="discussbtn">Discuss</a><a class="btn" href="../blog.html">Contents</a><a class="btn" href="#top">Top</a>
            </div>
        </div>
    </div>
    <div id="container">
        <a href="#top">
            <div id="headPane">
                <div id="headmain">
                    <canvas id="dkzlogo" width="340" height="250">
                        <img src="../res/img/dkzlogo.png">
                    </canvas>
                </div>
                <script type="text/javascript" src="../res/blogmd.js"></script>
            </div>
        </a>
        <div id="bodyPane">
