<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SCAST TypeScript</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/typescript/5.0.4/typescript.min.js"></script>

    <link rel="stylesheet" href="/res/scast/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs2015.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/csharp.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/typescript.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>
    <script src="https://unpkg.com/@alenaksu/json-viewer@2.0.0/dist/json-viewer.bundle.js"></script>
    <script src="https://cdn.observableusercontent.com/npm/d3@7.9.0/dist/d3.min.js"></script>
    <script src="/res/scast/D3M.js"></script>

</head>

<body style="margin-bottom: 90px;">
    <div id="title" style="position: fixed;left:10px;bottom: 10px;">
        <span class="pointer jump"
            onclick="scrollToView('load',-60)">️🔱</span>
        <h1 style="display: inline;" class="pointer"> SCAST.ts </h1>
        <span class="pointer jump"
            onclick="javascript:void(document.getElementById('code_con').open=!document.getElementById('code_con').open)">🧾</span>
        <span class="pointer jump"
            onclick="scrollToView('mermaidHead',-window.innerHeight/2-20)">🧜‍♀️</span>
        <span class="pointer jump"
            onclick="scrollToView('mermaidUML',-window.innerHeight/2-20)">📇</span>
        <span class="pointer jump"
            onclick="scrollToView('mermaidFlow',-window.innerHeight/2-20)">🌊</span>
        <span class="pointer jump"
            onclick="scrollToView('FDP',-window.innerHeight/2-20)">❄️</span>
        <span class="pointer jump"
            onclick="scrollToView('D3Select',-window.innerHeight/2-20)">🌳</span>
        <span class="pointer jump"
            onclick="javascript:void(document.getElementById('outline_con').open=!document.getElementById('outline_con').open)">👁️‍🗨️</span>
        <a href="https://davidkingzyb.github.io/blogmd/50.html"> by DKZ</a>
    </div>
    <div class="m10" id="load_con">
        <input type='file' id='codefile' multiple />
        <button id="load" class="pointer" onclick="load()" title="generate AST">🔱</button>
    </div>
    <div class="m10">
        <textarea name="" style="width: 90%;height: 100px;" id="codetext"></textarea>
    </div>
    <details id="code_con" open>
        <summary>codes</summary>
        <div id="code"></div>
    </details>
    <details id="outline_con" open>
        <summary>outline</summary>
        <div id="mmdfilter_con" class="opclsfilter"></div>
    </details>
    <details>
        <summary onclick="showJson()">json
            <input id="searchinput" type="text">
            <button onclick="search()" title="search">🔍</button>
            <button onclick="storageAstJson()" title="save Ast json to storage">📥</button>
            <button onclick="loadAstJson()" title="load Ast json from storage">📤</button>
            <button onclick="saveScast()" title="save Ast json">💾</button>

        </summary>
        <json-viewer id="json"></json-viewer>
    </details>
    <details open>
        <summary id="mermaidHead">mermaid UML & Flow
            <button onclick="genMermaid()" title="generate mermaid">🧜‍♀️</button>
            <button onclick="reMermaid()" title="refresh mermaid uml">🔄️</button>
            <button onclick="storageMermaid()" title="save mermaid to storage">📥</button>
            <button onclick="loadMermaid()" title="load mermaid from storage">📤</button>
            <button onclick="saveMermaid()" title="save mermaid uml">💾</button>
            <button onclick="scaleMermaid()" title="scale mermaid">🔛</button>
        </summary>
        <div id="mermaidOption" class="opcls" style="display: none;">
            <input type="checkbox" id="mmdop_relation" class="mmdops" checked /><label for="mmdop_relation">UML
                Relationship</label>
            <input type="checkbox" id="mmdop_method" class="mmdops" checked /><label for="mmdop_method">Method
                Detail</label>
            <input type="checkbox" id="mmdop_call" class="mmdops" checked /><label for="mmdop_call">Call Detail</label>
            <input type="checkbox" id="mmdop_idone" class="mmdops" checked /><label for="mmdop_idone">One ID</label>
            <input type="checkbox" id="mmdop_if" class="mmdops" /><label for="mmdop_if">If and Loop</label>
            <input type="checkbox" id="mmdop_condition" class="mmdops" /><label for="mmdop_condition">Condition</label>
            <input type="checkbox" id="mmdop_namespace" class="mmdops" /><label for="mmdop_namespace">use
                Namespace</label>
        </div>
        <textarea name="" id="textUML" style="width: 45%;height:250px;"></textarea>
        <textarea name="" id="textFlow" style="width: 45%;height:250px;"></textarea>
        <div id="mermaidPane">
            <pre class="mermaid" id="mermaidUML"></pre>
            <pre class="mermaid" id="mermaidFlow"></pre>
        </div>
        <div id="FDP"></div>
    </details>
    <details open>
        <summary>D3 Tree & Diagram
            <select id="D3Select">
                <option value="IndentedTree">IndentedTree</option>
                <option value="TidyTree">TidyTree</option>
                <option value="ClusterTree">ClusterTree</option>
                <option value="RadialTidyTree">RadialTidyTree</option>
                <option value="RadialClusterTree">RadialClusterTree</option>
                <option value="forceDirectedTree">ForceDirectedTree</option>
                <option value="EdgeBundling">EdgeBundling</option>
            </select>
            <button onclick="genD3()" title="generate D3">🌳</button>
            <button onclick="clearD3()" title="clear D3">🧹</button>
            <button onclick="scaleD3()" title="scale D3">🔛</button>
            <button onclick="fontSizeD3Minus(4)" title="scale D3 font size">➖</button>
            <button onclick="fontSizeD3Plus(4)" title="scale D3 font size bigger">➕</button>
        </summary>
        <div id="D3Option" class="opcls"></div>
        <div id="D3Diagram"></div>
    </details>

    <script>
        function _saveFile(content, fileName) {
            var blob = new Blob([content], { type: "text/plain;charset=utf-8" });
            var url = URL.createObjectURL(blob);
            var link = document.createElement('a');
            link.href = url;
            link.download = fileName;
            link.click();
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/mermaid@11.2.1/dist/mermaid.min.js"></script>
    <script src="/res/scast/analysis.js"></script>

    <script>

        var SCAST = {
            traverseAst: function (node, callback) {
                callback && callback(node)
                if (node.body && node.body.length > 0) {
                    for (let n of node.body) {
                        SCAST.traverseAst(n, callback)
                    }
                }
            },
            getAst: function (code, file) {
                const sourceFile = ts.createSourceFile(
                    file,
                    code,
                    ts.ScriptTarget.ES2015,
                /*setParentNodes */ true
                );

                function traverseTs(sourceFile) {
                    var ast = { type: 'top', body: [] }
                    delintNode(sourceFile);
                    return ast
                    function delintNode(node) {
                        switch (node.kind) {
                            // case ts.SyntaxKind.ForStatement:
                            // case ts.SyntaxKind.ForInStatement:
                            // case ts.SyntaxKind.WhileStatement:
                            // case ts.SyntaxKind.DoStatement:
                            // case ts.SyntaxKind.IfStatement:
                            // case ts.SyntaxKind.BinaryExpression:
                            // case ts.SyntaxKind.NewExpression:
                            // case ts.SyntaxKind.PropertyAccessExpression:
                            // case ts.SyntaxKind.PropertyDeclaration:
                            // case ts.SyntaxKind.CallExpression:
                            // case ts.SyntaxKind.FunctionDeclaration:
                            case ts.SyntaxKind.ClassDeclaration:
                                ast.body.push(traverseClass(node))
                                break;
                            default:
                            // console.log('traverseAst kind:',ts.SyntaxKind[node.kind]) 
                        }

                        ts.forEachChild(node, delintNode);
                    }

                    function traverseClass(node) {
                        // console.log('traverseClass',node)
                        var cls = { type: 'ClassDefine', value: node.name.escapedText, body: [], extends: [] }
                        for (let extend of node.heritageClauses) {
                            console.log('extend', extend.types[0].expression)
                            cls.extends.push(extend.types[0].expression.escapedText || extend.types[0].expression.expression.escapedText)
                        }
                        for (let member of node.members) {
                            let _poi = sourceFile.getLineAndCharacterOfPosition(member.getStart())
                            let n = { poi: { line: _poi.line, start: _poi.character } }
                            switch (member.kind) {
                                case ts.SyntaxKind.PropertyDeclaration:
                                    n.type = "PropertyDefine"
                                    n.value = member.name.escapedText
                                    cls.body.push(n)
                                    break;
                                case ts.SyntaxKind.MethodDeclaration:
                                    n.type = "MethodDefine";
                                    n.value = member.name.escapedText
                                    n.body = traverseMethod(member)
                                    cls.body.push(n)
                                    break;
                                case ts.SyntaxKind.Constructor:
                                    n.type = "ConstructorDefine";
                                    n.value = node.name.escapedText
                                    n.body = traverseMethod(member)
                                    cls.body.push(n)
                                    break;
                                case ts.SyntaxKind.FunctionDeclaration:
                                    n.type = "FunctionDefine";
                                    n.value = member.name.escapedText
                                    n.body = traverseMethod(member)
                                    cls.body.push(n)
                                    break;
                                default:
                                // console.log('traverseClass kind:',ts.SyntaxKind[member.kind]) 
                            }
                        }
                        return cls
                    }

                    function traverseMethod(node) {//todo method detail
                        // console.log("traverseMethod",node)
                        return []
                    }

                }
                console.log(sourceFile)
                return traverseTs(sourceFile)
            }
        }


    </script>

</body>

</html>