a{
    text-decoration: none;
}
::-webkit-scrollbar
{
    width:5px;
    height:5px;
    background-color:#F5F5F5;
}
::-webkit-scrollbar-track
{
    -webkit-box-shadow:inset 0 0 5px rgba(0,0,0,0.3);
    border-radius:10px;
    background-color:#F5F5F5;
}
::-webkit-scrollbar-thumb
{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:#555;
}
.input-file-button,button {
 border: 3px solid black;
 box-shadow: 0.1em 0.1em;
 cursor: pointer;
}

.input-file-button:hover,button:hover {
 transform: translate(-0.05em, -0.05em);
 box-shadow: 0.15em 0.15em;
 background-color: #ffb02e
}

.input-file-button:active,button:active {
 transform: translate(0.05em, 0.05em);
 box-shadow: 0.05em 0.05em;
}
button:disabled{
    background-color: #333;
}
.input-file-button{
    font-size: 26px;
    /* background-color: #F0f0f0; */
    padding: 0px 5px;
    background-color: white;
}


input[type="checkbox"] {
    appearance: none;
    border: 1px solid black;
    background-color: white;
}
input[type="checkbox"]:checked{
    /* appearance: none; */
    background-color: #ffb02e;
}
select option:checked{
    background-color: #ffb02e;
}

body{
    margin: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAD9JREFUKFNjvPTo638GIgAjSKGuLBdBpaQr/P37N9hUVlZWMA3ig9gwGm4iugS6RrwKcZpIlNWEvE26rwmZCAD8vk6PzzN+JQAAAABJRU5ErkJggg==) repeat;
}
#title{
    position: fixed;left:10px;bottom: 10px;z-index: 999;
}
.m10{
    margin: 10px;
}
.json_con{
    margin-top: 60px;
}
#mermaid_conf_con{
    position: fixed;
    top:0;
    left: 110px;
    background-color: rgba(0,0,0,0.9);
    overflow-x: auto;
    margin-top:50px;
    padding:0 10px ;
    color:white;
    z-index:60;
}

#mermaid_conf_con summary{
    padding: 10px;
    position: fixed;
    top:0;
    left: 120px;
    background-color: rgba(0,0,0,1);
    width: 160px;
}
#textUML{
    margin-top: 10px;
    width: 550px;
    height: 200px;
    background-color: #333;
    color: #ccc;
}
summary{
    cursor: pointer;
    line-height: 32px;
}
#textFlow{
    width: 550px;
    height: 200px;
    background-color: #333;
    color: #ccc;
}
#codescaler{
    height: 25px;
    width: 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ffb02e;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
    cursor: pointer;
}
#code_con{
    position: fixed;                          
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    overflow-x: auto;
    /* margin: 0; */
    padding: 10px;
    color:white;
    z-index:80;
}
#code_panel{
    position: fixed;                          
    top:50px;
    left: 0;
    max-height: 90%;
    max-width: 100vw;
    background-color: rgba(0,0,0,0.9);
    color:white;
    z-index:10;
    overflow: hidden;
    width: 625px;
    height: 430px;
}
#code_scroll{
    overflow: auto;
    width: 625px;
    height: 430px;
    /* padding: 10px; */
}
#code_con_summary{
    padding: 10px;
    position: fixed;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,1);
    width: 100px;
    line-height: 32px;
}
#code summary{
    padding-left: 10px;
}
#code details{
    float: left;
    margin: 0px 10px 0 0;
}
#code{
    width: 100%;
    height: 100%;
}
#codetext{
    width: 600px;
    height: 400px;
    background-color: #333;
    color:#ccc;
    margin: 10px 0 0 10px;
    font-size: large;
}
#outline_con{
    overflow-y: auto;
    position:fixed;
    top:0;
    right:0;
    width: 200px;
    max-height: 90%;
    /* visibility:hidden; */
    background-color: rgba(0,0,0,0.9);
    color:white;
    padding: 10px;
    margin: 0;
    z-index: 90;

}
#outline_con summary{
    position: fixed;
    top:0;
    right: 0;
    background-color: rgba(0,0,0,1);
    width: 200px;
    padding: 10px;
}

#mmdfilter_con{
    margin-top: 50px;
}
#d3_conf_con{
    position: fixed;
    top:0;
    right: 220px;
    background-color: rgba(0,0,0,0.9);
    color:white;
    z-index:90;
    margin:0;
    max-height: 90%;
    overflow: auto;
    width: 200px;
}
#d3_conf_con>summary{
    position: fixed;
    width: 180px;
    top:0;
    right: 220px;
    background-color: rgba(0,0,0,1);
    padding: 10px;
}

#ai_models{
    max-width: 180px;
    margin-top: 10px;
}
details {
    margin: 10px;
    /* cursor: pointer; */
}
.opcls {
    margin: 10px 0 ;
    display: grid;
    grid-template-columns: repeat(auto-fit, 25px 160px);
}

.opclsfilter{
    display: grid;
    grid-template-columns: repeat(1 , 25px 25px 130px);
}
#filter_btn{
    position: fixed;
    top:0;
    right:0;
    font-size: 34px;
}
.opcls>input {
    width: 20px;
}
.opcls>label {
    width: 160px;
    overflow: hidden;
    height: 24px;
}
button {
    margin-left: 10px;
    font-size: 18px;
}
summary {
    font-weight: bold;
    font-size: 22px;
}
input {
    font-size: 18px;
}
select {
    font-size: 18px;
}
.pointer {
    cursor: pointer;
}
.jump {
    font-size: 18px;
}
json-viewer {
    /* Background, font and indentation */
    --background-color: #ffffff;
    --color: #4e4e4e;
    --font-family: Nimbus Mono PS, Courier New, monospace;
    --font-size: 1rem;
    --line-height: 1.2rem;
    --indent-size: 0.5em;
    --indentguide-size: 1px;
    --indentguide-style: solid;
    --indentguide-color: #d4d4d4;
    --indentguide-color-active: #bbbbbb;
    --indentguide: var(--indentguide-size) var(--indentguide-style) var(--indentguide-color);
    --indentguide-active: var(--indentguide-size) var(--indentguide-style) var(--indentguide-color-active);
    --outline-color: #e0e4e5;
    --outline-width: 1px;
    --outline-style: dotted;

    /* Types colors */
    --string-color: #105c0d;
    --number-color: #e0720b;
    --boolean-color: #122a96;
    --null-color: #44068a;
    --property-color: #0a688d;

    /* Collapsed node preview */
    --preview-color: #dfba13;

    /* Search highlight color */
    --highlight-color:  #8f0707;
}
#load_con{
    position: fixed;
    bottom: 0;
    right: 0;
    /* background-color: rgba(0,0,0,0.9); */
    padding: 10px;
    z-index: 999;
}
#load_con button{
    font-size: 26px;
    /* border: 0; */
    cursor: pointer;
    padding: 0 6px
}
#load_con input{
    display: none;
}

.wtfmsg{
	position: fixed;
	bottom:70px;
    left:10px;
	z-index: 9999;
	text-align: center;
	background-color: #ffb02e;
    color:black;
    padding:10px;
    max-width: 70%;
}
